[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
dynaconf = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django = "==3.2.16"
pillow = "*"
django-allauth = "*"
django-redis = "*"
celery = {extras = ["redis"], version = "*"}
stripe = "*"

[dev-packages]
django-debug-toolbar = "*"
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.10"
